body{

    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: rgb(0, 140, 255);
    padding: 10px;

}

header{
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    width: 360px;
    margin: auto;
    margin-top: 10px;   
    margin-bottom: 10px;
    align-items: flex-end;
    
    
}






.icon{
    width: 50px;
    height: 50px;
    
}

.popup{
    transform: translateX(+115%);
    transition: transform .5s ease; /* our nice transition */
    background-color: rgba(128, 128, 128, 100);
    position: absolute;
    height: 380px;
    width: 200px;
    z-index: 40;
    background-color: rgb(182, 182, 182);
     right: 0;

}

.popup.show{
    transform: translateX(0);
    z-index: 100;

    
}

p{
background-color: ghostwhite;
width: auto;
height:70px;
margin: 5px;
font-size: 23px;
text-align: center;

}

.button{
background-color: rgba(0, 0, 0, 0);
display: inline-block;
height: 40px;


}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
    transition: 0.2s;

}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);

}
  
.change .bar2 {opacity: 0;

}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);

}

h1{
    color: black;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
    margin: auto;
    display: inline-block;
    font-size: 25px;

}

h2{
    color: black;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    border-bottom: 30px solid gray;
    border-top: px solid gray;    

}

img{
    display: block;
    max-height: px;
    max-width: px;
    width: 100%;
    height: 500px; 
    margin: auto;

}

div{ 
  
    height: auto;
    border-bottom: px solid gray;

}

.ruta1 {
    display: block;
    color: ghostwhite;
    background-color: rgb(136, 136, 136);
    border-top: px solid gray;
    height: 300px;
    max-width:300px;
    text-align: center;
    font-size: 26px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    -moz-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);

}

.bild-1{
    height: 230px;
    width: auto;

}

.bild-2{
    height: 100px;
   width: auto;
}

.Bild{
    max-width:400px;
    height: 200px;

}

.r2{
    display: block;
    align-content: center;
    justify-content: center;

}

.ruta2 {
    color: rgb(255, 255, 255);
    background-color: rgb(124, 124, 124);
    height: 150px;  
    margin: auto;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    -webkit-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    -moz-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);

}

.header{
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: black;  

}

.ruta3{
    display: block;
    color: ghostwhite;
    background-color: rgb(133, 133, 133);
    height: 300px;
    width: 300px;
    text-align: center;
    font-size: 26px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    -moz-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    transition: 0.5s; 
    overflow: hidden;

}

.ruta3:hover{
    height: 800px;
}


.ruta4{
    display: inline-block;
    color: ghostwhite;
    background-color: rgb(77, 77, 77);
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 26px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    -moz-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
    box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);

}

.bild_Dinner_1{
    height: 200px;
    width: 250px;

}
  
a{
    color: black;
    text-decoration: none;
}

pre{
    font-size: 15px;
    text-align: left;
    margin-left: 3px;
}

footer{
    bottom: 0;
    background-color: rgba(170, 170, 170, 0.63);
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.foot{
    
    text-align: center;
    font-size: 14px;
    margin: 10px;
    width: 150px;
    height: 200px;
    
    
    
}




.loadmore{
    width: 300px;
    height: 100px;
    background-color:rgb(133, 133, 133);
    margin:auto;
    text-align: center;
    font-size: 30px;
    color: white;
    

}





@media screen and (min-width: 900px) {
     .r1{
         display: flex;
         align-content: center;
        justify-content: center;
    }


    .button {
        display: inline-block;
    }

    .Bild{
        max-width: 800px;
        height: auto;
        
    }

    
    .ruta1{
        display: inline-block;
        color: ghostwhite;
        background-color: rgb(136, 136, 136);
       
        height: 300px;
        width: 300px;
        text-align: center;
        font-size: 26px;
        margin: 10px;
    
        -webkit-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
        -moz-box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);
        box-shadow: 0px 0px 17px 2px rgba(68, 68, 68, 0.75);}

    .r2{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .ruta2{
        margin: 20px;
    }
    
    a{
       display: block;
    }
  
    .ruta3{
        height: 800px;
        margin: 10px;

    }

   .r3{
       display: flex;
       justify-content: center;
       
   }
   .loadmore{
       width: 450px;
   }

   .foot{
       font-size: 20px;
       margin-left: 50px;
       margin-right: 50px;
   }

}








.lds-ellipsis {
    margin: auto;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  





